<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Plugin.Aliens_Versus_Predator_Classic_2000.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Plugin.Aliens_Versus_Predator_Classic_2000.Properties.Settings>
            <setting name="GameVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NormalX" serializeAs="String">
                <value>5760</value>
            </setting>
            <setting name="NormalY" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="CorrectedX" serializeAs="String">
                <value>6056</value>
            </setting>
            <setting name="CorrectedY" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="AutoDetection" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="DisplayCount" serializeAs="String">
                <value>3</value>
            </setting>
        </Plugin.Aliens_Versus_Predator_Classic_2000.Properties.Settings>
    </userSettings>
</configuration>