<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Plugin.Call_of_Duty_Ghosts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Plugin.Call_of_Duty_Ghosts.Properties.Settings>
            <setting name="GameVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="UncorrectedX" serializeAs="String">
                <value>5760</value>
            </setting>
            <setting name="UncorrectedY" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="CorrectedX" serializeAs="String">
                <value>6056</value>
            </setting>
            <setting name="CorrectedY" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="DisplayCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AutoDetection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncreaseRenderWidth" serializeAs="String">
                <value>False</value>
            </setting>
        </Plugin.Call_of_Duty_Ghosts.Properties.Settings>
    </userSettings>
</configuration>