<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Widescreen_Fixer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <runtime>
        <loadFromRemoteSources enabled="true" />
    </runtime>
    <userSettings>
        <Widescreen_Fixer.Properties.Settings>
            <setting name="CheckForUpdateOnLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RememberWindowPosition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GameSelection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowGeometry" serializeAs="String">
                <value>10, 10, 334, 263</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="KeyValue" serializeAs="String">
                <value>106</value>
            </setting>
            <setting name="KeyControl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeyShift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeyAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastValue1Title" serializeAs="String">
                <value />
            </setting>
            <setting name="LastValue2Title" serializeAs="String">
                <value />
            </setting>
            <setting name="LastValue3Title" serializeAs="String">
                <value />
            </setting>
            <setting name="LastValue4Title" serializeAs="String">
                <value />
            </setting>
            <setting name="LastValue5Title" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayObsoletePlugins" serializeAs="String">
                <value>False</value>
            </setting>
        </Widescreen_Fixer.Properties.Settings>
    </userSettings>
</configuration>
